<h1>Edit Training Item</h1>

<%= form_for @training do |f| %>
	<%= render 'fields', f: f %>
	<div class="form-actions">
		<%= f.submit "Edit Training Item", class: "btn btn-success" %>
		<%= link_to "Cancel", training_path, class: "btn btn-link" %>
	</div>
<% end %>