<h1>New training Item</h1>

<%= form_for @training do |f| %>
	<%= render 'fields', f: f %>
	<div class="form-actions">
		<%= f.submit "Create Training Item", class: "btn btn-success" %>
		<%= link_to "Cancel", trainings_path, class: "btn btn-link" %>
	</div>
<% end %>