<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @training.course_name %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
