<h1>Employee licenses</h1>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @licenses.present? %>
      <% @licenses.each do |l| %>
        <tr>
        <td><%= l.name %></td>
        <td><%= link_to 'Edit', edit_license_path(l) %></td>
        <td><%= link_to 'Destroy', l, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="3">No Licenses to show.</td></tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New License', new_license_path %>