<%= content_for :sidebar do %>
	<li>
		<%= link_to new_site_employee_path do %>
	        <i class="fa fa fa-user-plus fa-2x"></i>
	          <span class="nav-text">
	                 Add new Employee	
	          </span>
	    <% end %>
	</li>
<% end %>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#emp" aria-controls="emp" role="tab" data-toggle="tab">Employee Overview</a></li>
    <li role="presentation"><a href="#allemp" aria-controls="allemp" role="tab" data-toggle="tab">All Employees</a></li>
  </ul>
<!-- Nav Content -->
	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane fade in active" id="emp">
	  	....
	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="allemp">
	  		<hr/>
	    <%= render partial: 'site_employees/employees_table', locals: {permits: @site_permits} %>
	  </div>
	    <hr/>
	  </div>