<h1>Editing Empoyee Training Requirements</h1>

<%= form_for @employee_training do |f| %>
	<%= render 'fields', f: f %>
	<div class="form-actions">
		<%= f.submit "Edit Training Requirment", class: "btn btn-success" %>
		<%= link_to 'Cancel', employee_trainings_path %>
	</div>
<% end %>