<h1>Add User</h1>

<%= form_for @user do |f| %>
  <%= render 'fields', f: f %>
  <div class="form-actions">
    <%= f.submit "Sign Up", class: "btn btn-success" %>
    <%= link_to "Cancel", user_path(f), class: "btn btn-link" %>
  </div>
<% end %>
