body {
  padding-top: 50px;
}

.main {
  padding-top: 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.unstyled,.list-data {
	list-style:none;
	margin:0;
	padding:0
}
.flat li {
	display:inline-block;
	margin-right:10px
}
.flat li:last-child {
	margin-right:0
}
.list-group-padded {
	margin-top:20px
}
.list-group-padded .list-group-item {
	padding:20px
}
.list-data>li:not(:last-child) {
	border-bottom:1px solid #eee;
	margin-bottom:5px;
	padding-bottom:5px
}
.list-group-condensed .list-group-item {
	padding:5px 10px
}




.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

