<h4> "Edit Permit Options" </h4>

<%= form_for @site_permit, class: "form-horizontal" do |f| %>
	<%= render 'fields', f: f %>
	<div class="form-actions">
		<br/>
		<%= f.submit "Save Changes", class: "btn btn-success" %>
		<%= link_to "Cancel", sites_path, class: "btn btn-link" %>
	</div>
<% end %>