  <h4> Click to Download: </h4>
  <hr/>
  <%= link_to "CSV", export_path(format: "csv"), class: "btn btn-info" %> <br/> <br/>
  <%= link_to "Excel", export_path(format: "xls"), class: "btn btn-info" %> 
