<%= content_for :sidebar do %>
    
    <li>
		<%= link_to new_site_permit_path do %>
	  		<i class="fa fa-plus-circle fa-2x"></i>
		    	<span class="nav-text">
		            Create New Permit
		    	</span>
		<% end %>
	</li>
<% end %>

<%= render partial: 'site_permits/permit_aged_table', locals: {permits: @site_permits} %>


